*{
  padding: 0;
  margin: 0;

}
 /* Netflix background image */
.main {
  background-image: url("first file/images/US-en-20240909-TRIFECTA-perspective_e4cccf9e-e51c-4a90-af6d-001c59af27e7_large.jpg");
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vh);
}
.main.box{
  height: 70vh;
  width: 100%;
  opacity: 1.90;
  position: absolute;
  top:0;
  background-color: black;
}

body{
  background-color: black;
}

/* NEtflix, English & Signin */

nav{
  max-width: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
nav img{
  colour:red;
  width: 114px;
  position: relative;
  z-index: 8;
}
nav button {
  position: relative;
  z-index: 9;
}
/* jho bhi likha gya hai/ */
.hero{
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 9;
  gap: 10px;
  padding: 0px 30px;
}

.hero :n-child(1){
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  font-family:'Poppins' sans-serif;
}
.hero :n-child(2){
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}
.hero :n-child(3){
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.sepration{
  height: 5px;
  background-color: rgb(46, 44, 44);
}
/* buttons ke style */

.btn {
  padding: 3px 8px;
  font-weight: bold;
  font-weight: 400;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(248,243,243,0.021);
}

.btn-red{
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}

.hero-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main input{
  padding: 7px 14px 8px 13px;
  font-size: 12px;
  color: pink;
  border-radius: 4px;
   background-color: rgba(23, 23, 23, 0.4);
   font-weight: 900;
}


.btn-red-sn{
  background-color: red;
  height: 30px;
  width: 110px;
  border: 2px;
}
/* nayi suruwat hogi aab */

.faqbox{
  display: flex;
  background-color: grey;
  padding: 34px;
}